/* Estilos gerais para o container */
.container {
    position: relative;
    /* width: 100vw; */
    height: 100vh;
  }
  
  /* Estilo da imagem de fundo */
  .background-image {
    position: fixed;
    width: 50%;
    height: 50%;
    /* object-fit: cover; */
    opacity: 0.1;
    z-index: -1;
  }
  
  /* Estilo do cabeçalho */
  .header-layout {
    background-image: url('./gradient_baixo_cima.png');
    display: flex;
    align-items: center;
    padding: 16px;
    position: relative;
  }
  
  /* Estilo do botão de ação */
  .action-button {
    background: transparent;
    border: none;
    padding: 0;
    margin-right: 16px;
  }
  
  /* Estilo da imagem dentro do botão de ação */
  .action-image {
    width: 100px;
    height: 100px;
    object-fit: contain;
  }
  
  /* Estilo do container de informações */
  .info-container {
    /* position: relative; */
    display: flex;
    align-items: center;
    flex: 1;
  }
  
  /* Estilo da imagem de informações */
  .info-image {
    width: 100px;
    height: 100px;
    object-fit: contain;
  }
  
  /* Estilo do texto de boas-vindas */
  .welcome-text {
    font-size: 18px;
    color: #FFFFFF;
    font-weight: bold;
    margin-left: 16px;
  }
  
  /* Estilo do conteúdo */
  .content-layout {
    padding: 16px;
  }
  
  /* Estilo do título */
  .title-text {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;
    text-align: center;
  }
  
  /* Estilo da lista de agendas */
  .agenda-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  /* Estilo dos itens da lista de agendas */
  .agenda-item {
    padding: 8px;
    background-color: #f9f9f9;
    border-bottom: 1px solid #cccccc;
  }
  
  /* #image {
    position: absolute;
  }
  
  #texto {
    position: absolute;
    font-size: 32px;
    left: 250px;
    top: 135px;
  } */
  .image-container {
    position: relative;
    display: inline-block;
  }
  
  .background-image2 {
    width: 200px;
    height: 100px;
  }
  
  .text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
  }
  